:root {
    --preto: #000000;
    --verde-s: #2E9E25;
    --verde-c: #8ba888;
    --verde-e: #063D00;
    --amarelo: #ffea00;

}

body {
    background-image: linear-gradient(to right, var(--preto), var(--verde-e));
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

main{
    display: flex;
}

div.principal{
    margin-top: 25vh;
    width: 35%;
    margin-right: 10px;
}

img[src="logo-GE.png"] {
  width: 450px;
}

h3{
    color: var(--verde-s);
    font-family: helvetica, sans-serif;
}

body, html {
    height: 100%;
}

.categorias{
    width: 30%;
    margin-top: 25vh;
    margin-right: 5%;
}

a{
    display: flex;
    flex-direction: column;
    color: var(--verde-s);
    background-color: var(--preto);
    border-radius: 15px;
    font-size: 2rem;
    text-align: center;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.principal, .categorias, .coluna{
    margin-left: auto;
    margin-right: auto;
}

.coluna{
    width: 1%;
}
